.banner {
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url("../../images/guyane.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  padding: 200px 0px;
  text-shadow: 0 10px 30px rgba(0,0,0,0.4)
}

.banner h1 {
  font-size: 32px;
  line-height: 0.7;
}

.banner p {
  font-size: 24px;
  margin-bottom: 50px;
}
